<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piada Interna Post Edit</title>
    <style>
    body {
        display: flex; /* Ativa o Flexbox */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        height: 100vh; /* Ocupa toda a altura da janela */
        margin: 0; /* Remove margens padrão */
        font-family: Arial, sans-serif; /* Fonte para o texto */
        background-color: #f4f4f4; /* Cor de fundo clara */
    }
    </style>
</head>
<body>
    {% extends 'base.html' %} 
    {% block content %}
    <h1 id = 'edit'>Edit post</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
    {% endblock content %}
</body>
</html>