# Python cache files
__pycache__/
*.py[cod]
*$py.class

# virtual enviroment file
venv/
.env/
*.env

# Local database file
db.sqlite3

# log files
*.log
logs/

# IDE config
.vscode/

# Cache Django files
*.migrations/__pycache__/
*.migrations/*.pyc

# Afiles auto generated
*.bak
*.swp
.DS_Store

staticfiles/

