/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1{
    color:#fff;
}

/* Estilo do cabeçalho */
header {
    background: #333;
    color: #c00404;
    padding: 20px;
    text-align: center;
}

/* Estilo da div post-entry */
.post-entry {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo do título h1 */
.post-entry h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo da navegação à direita */
.nav-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* Links de navegação */
.nav-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.nav-right a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 600px) {
    .post-entry {
        padding: 10px;
    }

    .post-entry h1 {
        font-size: 1.5em;
    }

    .nav-right {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-right a {
        margin-left: 0;
        margin-bottom: 5px;
    }
}
